/*노토산스 (1/2, 한글, 총 6개)*/
@font-face { font-family: 'NotoSansKR'; src: url('../../Assets/fonts/notosanskr/NotoSansKR-Thin.otf'); font-weight: 100; font-style: normal; }
@font-face { font-family: 'NotoSansKR'; src: url('../../Assets/fonts/notosanskr/NotoSansKR-Light.otf'); font-weight: 300; font-style: normal; }
@font-face { font-family: 'NotoSansKR'; src: url('../../Assets/fonts/notosanskr/NotoSansKR-Regular.otf'); font-weight: 400; font-style: normal; }
@font-face { font-family: 'NotoSansKR'; src: url('../../Assets/fonts/notosanskr/NotoSansKR-Medium.otf'); font-weight: 500; font-style: normal; }
@font-face { font-family: 'NotoSansKR'; src: url('../../Assets/fonts/notosanskr/NotoSansKR-Bold.otf'); font-weight: 700; font-style: normal; }
@font-face { font-family: 'NotoSansKR'; src: url('../../Assets/fonts/notosanskr/NotoSansKR-Black.otf'); font-weight: 900; font-style: normal; }

/*볼타(2/2, 영어, 총 2개)*/
@font-face { font-family: 'VoltaT'; src: url('../../Assets/fonts/voltat/VoltaT.ttf'); font-weight: 400; font-style: normal; }
@font-face { font-family: 'VoltaT'; src: url('../../Assets/fonts/voltat/VoltaT_Bold.ttf'); font-weight: 700; font-style: normal; }